﻿@model StashBoxx.Models.ViewModels.MakeBookingVM
@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="card">
    <div class="card-header">
        <div class="text-center">
            <h1 class="display-4">Make a Booking</h1>
        </div>
    </div>
    <div class="card-body">
        <form class="col-lg-6 offset-lg-3" method="post">
            <div class="row justify-content-center">
                @Html.LabelFor(b => b.StartTime, "Starting Time")
                <div class="input-group">
                    <input type="time" class="form-control form-control-lg" asp-for="@Model.StartTime" />
                </div>
                @Html.LabelFor(b => b.DurationHours, "Duration (Hours)")
                <div class="input-group">
                    <input type="number" min="1" class="form-control form-control-lg" max="12" asp-for="@Model.DurationHours" />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>